<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    
    <div id="clock">
    <p>Date and Time</p>
    <p class="date">{{ date }}</p>
    <p class="time">{{ time }}</p>
    
    </div>
    <p>Adding Names into list</p>
    <p>{{newList}}</p>
    <input v-model="newList" v-on:keyup.enter = "addName">
    <button v-on:click = "addName">
      Add
    </button>
    <ul id="loop">
    <li v-for="list in lists" v-bind:key="list">
     {{ list.name }}
    </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
    list: Array
  },
  data() {
    return {
    lists: [
      { name : 'Valuelabs'},
      { name : 'Manoj'},
      { name : 'kumar'}
    ],
    newList: '',
    time: '',
    date: ''
    }
  },
  methods : {
    addName : function() {
      this.lists.push({name : this.newList})
      this.newList = ''
    },
   
    DateTimeFunction: function()  {
        var cd = new Date();
        this.time = this.zeroPadding(cd.getHours(), 2) + ':' + this.zeroPadding(cd.getMinutes(), 2) + ':' + this.zeroPadding(cd.getSeconds(), 2);
        this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth()+1, 2) + '-' + this.zeroPadding(cd.getDate(), 2);
    },

    zeroPadding: function(num, digit) {
        var zero = '';
        for(var i = 0; i < digit; i++) {
          zero += '0';
        }
      return (zero + num).slice(-digit);
    }
  },
  mounted() {
    this.interval = setInterval(() => {
      this.DateTimeFunction();
    },1000);
    
    this.DateTimeFunction();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    text-align: center;
    position: absolute;
    left: 75%;
    top: 50%;

   
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}
</style>
